{% extends "base.html" %}
{% block title %}{{ category_name }}{% endblock %}
{% block content %}
<h1 class="fredericka-the-great-regular container"><img src="../static/icons/mk-quality-logo-pink.svg"
                                                        alt="MK quality logo" height="70"> {{ category_name }}</h1>
<div class="album py-5">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 category-products">
            {% for item in category_products %}
            <div class="col">
                <div class="card shadow-sm" style="height: 500px">
                    <a href="{{ url_for('show_product', product_id=item.id) }}">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
                             style="background-image: url('{{ item.image }}'); background-size: contain; background-position: center;
                  background-repeat: no-repeat; margin-top: 15px">
                        </svg>
                    </a>
                    <div class="card-body">
                        <p class="card-text"><h4>{{ item.title }}</h4></p>
                        <div class="d-flex justify-content-between align-items-center album-single-product">
                            <div class="btn-group">
                                <a href="{{ url_for('add_to_basket', product_id=item.id) }}">
                                    <button type="button" class="btn btn-sm btn-primary">Add to Basket</button>
                                </a>
                            </div>
                            <small class="price text-end">{{ "%.2f" | format(item.price) }} €</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}